# Игнорировать все файлы в каталоге .vs, который содержит пользовательские настройки Visual Studio
.vs/

# Игнорировать скомпилированные объектные файлы и исполняемые файлы
*.obj
*.exe
*.pdb

# Игнорировать сгенерированные файлы сборки
bin/
obj/

# Игнорировать файлы журналов сборки
*.log

# Игнорировать пакеты NuGet
packages/
