<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="fe0d514d-03db-4386-9c36-d80947491a73" Name="TestMFCApp" Version="1.0.0.0" Manufacturer="Test Company" Language="1033" UpgradeCode="95b70b9b-8db7-47e0-b3cf-d90652c7fac6">
        <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" InstallScope="perMachine"/>
        
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="TestMFCApp">
                    <Component Id="ApplicationFiles" Guid="41e2e5d2-c76a-4704-9b55-242c56063048">
                        <!-- Убедитесь, что путь к файлу TestMFCApp.exe корректен -->
                        <File Id="AppExecutable" Source="bin\Release\TestMFCApp.exe" KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="TestMFCApp"/>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop"/>
        </Directory>
        
        <Feature Id="ProductFeature" Title="TestMFCApp" Level="1">
            <ComponentRef Id="ApplicationFiles"/>
            <ComponentRef Id="ApplicationShortcut"/>
            <ComponentRef Id="DesktopShortcut"/>
        </Feature>

        <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="572cc6b7-9074-4e29-9db0-88225f5aca67">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="TestMFCApp"
                      Description="Test MFC Application"
                      Target="[INSTALLFOLDER]TestMFCApp.exe"
                      WorkingDirectory="INSTALLFOLDER"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Test Company\TestMFCApp" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>

        <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="39458a50-6d8a-4f49-b485-b9286ffd3b07">
            <Shortcut Id="ApplicationDesktopShortcut"
                      Name="TestMFCApp"
                      Description="Test MFC Application"
                      Target="[INSTALLFOLDER]TestMFCApp.exe"
                      WorkingDirectory="INSTALLFOLDER"/>
            <RemoveFolder Id="DesktopFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Test Company\TestMFCApp\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallFinalize"/>
        </InstallExecuteSequence>
    </Product>
</Wix>
